
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //margin: 30px;
    z-index: 1;
  }
  
  // .map-frame {
  //   border: 2px solid black;
  //   height: 100%;
  // }
  
  #map {
    height: 100vh;
    width: 100%;
  }

  
