  <!-- <script>
      var map = L.map('map').setView({lon: 0, lat: 0}, 2);

// add the OpenStreetMap tiles
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
}).addTo(map);

// show the scale bar on the lower left corner
L.control.scale({imperial: true, metric: true}).addTo(map);

// show a marker on the map
L.marker({lon: 0, lat: 0}).bindPopup('The center of the world').addTo(map);
    </script> -->
    <app-map></app-map>

<!--МОДАЛЬНОЕ ОКНО РАСПИСАНИЯ-->
      <div id="schedule_modal">
          <div class="outer">
              <p>Расписание остановок</p>
              <ul>            
                  <li onclick="scheduleSettings()">Расписание 1</li>
                  <li>Расписание 2</li>
                  <li>Расписание 3</li>
                  <li>Расписание 4</li>
              </ul>
          <span id="close_schedule" onclick="closeSchedule()">&times;</span>
      </div>
  </div>


  <!--МОДАЛЬНОЕ ОКНО НАСТРОЕКТ РАСПИСАНИЯ-->
  <div id="schedule_settings">
      <p>Расписание 1</p>
      <ul>
          <li>Заголовок <input text="text" id="headline_modal" placeholder=""></li>
              <li>Разметка
                  <select id="dropdown_markup">
                      <option>Разметка 1</option>
                      <option>Разметка 2</option>
                      <option>Разметка 3</option>
                  </select>
              </li>
              <button class="addSchedule">&#10010; Добавить объект расписания</button>
      </ul>
      <span id="back_schedule" onclick="backSchedule()">&times;</span>
  </div>
<div id="overlay" onclick="closeSchedule()"></div> 


<div id="map">
    <!--ЛЕВЫЙ БАР-->
        <div id="left_Sidebar" class="leftSidebar">
            <div class="stickyTopBar">
            <div class="block_top_bar">
                <!--ВЕРХНИЙ БАР-->
                
                            <div class="top_nav_bar">
                    <ul>
                        <li id="tab_active" >Список табло</li>
                        <li id="schedule" onclick="schedule()">Расписание</li>
                        <li><i id="close_Button" class="closeButtonLeft" onclick="closeTabloList()">&times;</i></li>
                    </ul>
                </div> 
                        <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="searchInput" id="myInput" onkeyup="list_search()" placeholder="Поиск...">
            </div> 
                </div>
                </div>

            <div class="tabloList" id="tablo_List">
                <li class="blockList" id="block_List">
                    <a href="#"  id="marker_1"><i>1</i>остановка Телецентр<i id="indicator_ON"></i></a>
                    <i class="fas fa-cog" id="info_settings" onclick="openSettings()"></i>
                </li>
                <li class="blockList">
                    <a href="#" id="set_Center"><i>2</i>остановка Серая лошадь<i id="indicator_OFF"></i></a>
                    <i class="fas fa-cog" id="" onclick=""></i>
                </li>
            </div>
    </div>
    <div id="burger_Open">
        <i id="open_Button" onclick="openTabloList()" class="fas fa-arrow-right"></i>
      </div>

    <!--ПРАВЫЙ БАР-->
    <div id="sett_sidebar" class="settSidebar">
        <i id="close_Settings" class="closeSettings" onclick="closeSettings()">&times;</i>
        <div class="settingsList">
            <p id="tablo_name">остановка Телецентр</p>
            <li id="driver_tablo">Драйвер:</li>
            <li id="coords_tablo">Координаты:  <input text="number" id="input_coords" placeholder="Ввод"></li>
            <li>Состояние:<i id="work_tablo">Работает</i></li>
            <li><input type="checkbox" id="check_tablo">Табло в ремонте</li>
            <li>Расписание 
                <select id="dropdown_tablo">
                <option>Расписание 1</option>
                <option>Расписание 2</option>
                <option>Расписание 3</option>
              </select>
            </li>
            <p>Дополнительные параметры </p>
            <li>URL остановки (GUID) <input text="number" id="input_guid" placeholder="guid"></li>
        </div>
</div>
