//COLOR
$mainColor: #000000cc;
$topBarColor: #202020;
$listTabloColor: #00000026;
    $listTabloColorHover: #161616;
        $listScheduleColor: #121212;
$elemTabloColor: #393939;
$elemIconColor: #a1a1a1;
$tabloIndicatorColorOn: #8FFE68;
$tabloIndicatorColorOff: #FE6868;
$colorUnderline: #82CFCB;
$colorScheduler: #181818fa;
$colorOverlay: #000000c2;
$colorButtonSchedule: #2c2c2c;
    $colorButtonSchHover: #3a3a3a;
$blockTopBar: #222222cc;
$srollBar: #2e2e2e9e;
$scrollBarThumb: #4e4e4e5e;

//FONT
$fontSizeTopNavBar: 11px;
$fontSizeLeftBar: 14px;
$fontSizeScheduleTop: 20px;
$font: 'SF Pro Ultralight', sans-serif;
$fontColor: #FFFFFF;
$fontLetterSpacing: 0;
// @font-face {
//     font-family: SF Pro Ultralight;
//     src: url("font/SF-Pro.ttf");
// }

//PROPERTY
$blurBackground: saturate(180%) blur(20px);
// $blurOverlayBackground: saturate(50%) blur(4px);
$borderRadius: 3px;
$borderRadiusListLeft: 32px;

//INPUT
$inputBackground: #1a1a1a;
$inputBorderColor: #484848;

body {
    margin:0;
    height: 0;
    font-family: $font;
    letter-spacing: $fontLetterSpacing;
    background: $topBarColor;
    
}
.leaflet-control-container {
    display: none;
}
.leaflet-marker-shadow.leaflet-zoom-animated {
    display: none;
}

// #map{
//     // height: 100vh;
//     // position: absolute;
// }

i {
    font-style: normal;
}

a, li {
    transition: .3s;
}

//MAIN BLOCK MAP

//TOP BAR
.block_top_bar {
    background: $blockTopBar;
    height: 100px;
    width: 535px;
    display: flex;
    align-items: stretch;
    position: absolute;
    text-align: center;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 0.7px solid #4c4c4c;
}


.top_nav_bar {
    
    ul {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 0;
        margin-top: 30px;
        li {
            list-style: none;
            color: $fontColor;
            margin: 0 10px 0 10px;
            font-size: $fontSizeTopNavBar;
            text-transform: uppercase;
            font-weight: 100;
            text-align: center;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 2px 0px 0px #fff;
                
            }
    }

    #tab_active {
        box-shadow: 0px 2px 0px 0px #fff;
    }

    }
}


// //LEFT BAR
// .block_left_bar {
//     background: $mainColor;
//     width: 350px;
//     height: 100vh;    
//     display: flex;
//     position: relative;
//     padding-left: 40px;
//     padding-top: 40px;
//     padding-right: 20px;
//     padding-bottom: 40px;
//     z-index: 99;
//     flex-direction: column;
//     backdrop-filter: $blurBackground;

//     .left_list {
//     ul {
//         padding-left: 0;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: baseline;
//         li {
//             list-style: none;
//             width: 100%;
//             color: $fontColor;
//             font-size: $fontSizeLeftBar;
//             background: $listTabloColor;
//             padding: 7px 20px 7px 20px;
//             margin-right: 20px;
//             margin-bottom: 15px;
//             display: flex;
//             align-items: baseline;
//             justify-content: space-between;

//                 &:hover {
//                     background: $listTabloColorHover;
//                     cursor: pointer;
//                 }
//         }
//     }
// }
// }

//SEARCH
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px;
    padding-left: 10px;
    border-bottom: 1px solid $elemIconColor;
    margin: 0 20px 0;
}

        .searchInput {
            background: none;
            border: none;
            padding: 10px;
            color: $fontColor;
            font-family: $font;
            width: 100%;
            &:active, 
            &:hover, 
            &:focus, 
            &:focus-visible  {
                outline: 0;
                outline-offset: 0;
            }
        }

            .fas.fa-search {
                color: $elemIconColor;
                position: relative;
            }

            .fas.fa-cog {
                color: $fontColor;
                padding: 10px;
                transition: .3s;
                &:hover {
                    cursor: pointer;
                    background-color: #182528;
                    border-radius: 30px;
                    box-shadow: inset 0px 0px 0px 0.7px #4e4e4e5e;
                }
            }



#indicator_ON {
    width: 10px;
    height: 10px;
    background: $tabloIndicatorColorOn;
    border-radius: 50px;
}

#indicator_OFF {
    width: 10px;
    height: 10px;
    background: $tabloIndicatorColorOff;
    border-radius: 50px;
}

.closeButtonLeft {
    top: 5px;
    font-size: 36px;
    position: absolute;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 103;
    margin-right: 17px;
    right: 0;

}

#burger_Open {
    z-index: 102;
    margin-top: 15px;
    position: absolute;
    left: 10px;
    transition: .3s;
    display: none;
}

#open_Button {
    color: $fontColor;
    font-size: 20px;
    cursor: pointer;
    background: black;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 105;
}


//YANDEX MAP

// ymaps {
    
// }

.ymaps-2-1-79-map {
    z-index: 1 !important;
    position: absolute !important;
}


#map {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // margin-top: 65px;
}

.ymaps-2-1-79-balloon-pane,
.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}

// .ymaps-2-1-79-float-button.ymaps-2-1-79-float-button_traffic_left, 
// .ymaps-2-1-79-listbox.ymaps-2-1-79-listbox_opened_no.ymaps-2-1-79-listbox_align_right, 
// .ymaps-2-1-79-controls__toolbar_right,
// .ymaps-2-1-79-float-button.ymaps-2-1-79-_hidden-text,
// .ymaps-2-1-79-searchbox__input-cell,
// .ymaps-2-1-79-searchbox__button-cell,
// .ymaps-2-1-79-controls__toolbar_left,
// .ymaps-2-1-79-controls__toolbar_right {
//     display: none !important;
// }



//LEFT SIDEBAR
.leftSidebar {
    background: $mainColor;
    backdrop-filter: $blurBackground;
    height: 100vh;
    overflow-x: hidden;
    width: 535px; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 101; /* Stay on top */
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    transition: .5s;
    // padding-top: 20px;

    
    .tabloList {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            margin-top: 150px;

            .blockList {
                display: flex;
                align-items: baseline;
                flex-direction: row;
                justify-content: space-evenly;
            }
            
    }

        a {
            text-decoration: none;
            color: $fontColor;
            font-family: $font;
            background: $listTabloColor;
            padding: 17px 20px 17px 20px;
            width: 78%;
            margin-bottom: 20px;
            font-size: $fontSizeLeftBar;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            font-weight: 200;
            box-shadow: inset 0px 0px 0 0.7px #ffffff2b;
            border-radius: $borderRadiusListLeft;
            

            &:hover {
                background: $listTabloColorHover;
            }
        }

}


.leftSidebar::-webkit-scrollbar {
    width: 10px;
    background-color: $srollBar;
}
.leftSidebar::-webkit-scrollbar-thumb {
    background-color: $scrollBarThumb;
}



.stickyTopBar {
    position: sticky;
    top: 0;
}


//RIGHT SIDEBAR
.settSidebar {
    background: $mainColor;
    backdrop-filter: $blurBackground;
    height: 100vh;
    overflow-x: hidden;
    width: 0px;
    position: absolute;
    z-index: 101;
    right: 0;
    transition: .5s;

    .settingsList {
        color: $fontColor;
        font-family: $font;
        margin: 60px 30px 0 30px;

        p {
            font-size: 18px;
            border-bottom: 3px solid $colorUnderline;
            font-weight: 200;
        }
    }
            li {
                text-decoration: none;
                list-style: none;
                margin-bottom: 40px;
                font-size: $fontSizeLeftBar;
                font-weight: 100;
                display: flex;
                align-items: center;

                 i  {
                     color: $tabloIndicatorColorOn;
                    }

                a {
                    text-decoration: none;
                    color: $fontColor;
                    font-weight: 100;

                    &:hover {
                        box-shadow: 0px 2px $colorUnderline;
                    }
                }
            }
}

#input_coords, #input_guid, #headline_modal {
    outline: none;
    padding: 5px;
    background: $inputBackground;
    color: $fontColor;
    border: 1px solid $inputBorderColor;
    margin-left: 10px;
    width: 100%;
    border-radius: $borderRadius;
}

#check_tablo {
    outline: none;
    border: 1px solid $inputBorderColor;
    background: $inputBackground;
    margin-right: 10px;
}

#work_tablo {
    margin-left: 10px;
}

#dropdown_tablo {
    outline: none;
    margin-left: 10px;
    background: $inputBackground;
    border: 1px solid $inputBorderColor;
    padding: 5px;
    color: $fontColor;
    border-radius: $borderRadius;
}

#dropdown_markup {
    outline: none;
    margin-left: 10px;
    background: $inputBackground;
    border: 1px solid $inputBorderColor;
    padding: 5px;
    color: $fontColor;
    border-radius: $borderRadius;
    width: 100%;
}

#schedule_modal {
    width: 500px;
    // height: 800px;
    background: $colorScheduler;
    z-index: 110;
    position: fixed;
    align-items: center;
    // display: none;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    // padding: 0px 30px 30px 30px;
    // backdrop-filter: $blurBackground;
    box-shadow: 0px 0px 0px 1px #565656;
    color: $fontColor;
    border-radius: $borderRadius;
    p {
        text-align: center;
        font-size: $fontSizeScheduleTop;
        font-weight: 500;
        padding: 10px;
        border-bottom: 2px solid $colorUnderline;
    }

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
        li {
            text-decoration: none;
            color: $fontColor;
            font-family: $font;
            background: $listScheduleColor;
            padding: 17px 20px 17px 20px;
            width: 100%;
            margin-bottom: 20px;
            font-size: $fontSizeLeftBar;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            font-weight: 200;
            box-shadow: inset 0px 0px 0 1px #ffffff2b;
            border-radius: $borderRadius;
            cursor: pointer;

            &:hover {
                background: $listTabloColorHover;
            }

    }
}

.outer::-webkit-scrollbar {
    width: 10px;
    background-color: $srollBar;
    ;
}
.outer::-webkit-scrollbar-thumb {
    background-color: $scrollBarThumb;
}


.outer {
    overflow: auto;
    height: 100%;
    padding: 40px;
}
   #overlay {
    background: $colorOverlay;
    // backdrop-filter: $blurOverlayBackground;
    width: 100%;
    height: 100vh;
    z-index: 109;
    display: none;
    // visibility: hidden;
    position: fixed;
    cursor: pointer;
} 


#close_schedule {
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: $inputBackground;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px #323232;
    border-top-left-radius: $borderRadius;
    &:hover {
        background: #000;
    }
}

#back_schedule {
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: $inputBackground;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px #323232;
    border-top-left-radius: $borderRadius;
    &:hover {
        background: #000;
    }
}

#schedule_settings {
    width: 500px;
    // height: 800px;
    background: $colorScheduler;
    z-index: 110;
    position: fixed;
    align-items: center;
    // display: none;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 30px 30px 30px 30px;
    // backdrop-filter: $blurBackground;
    box-shadow: 0px 0px 0px 1px #565656;
    color: $fontColor;
    border-radius: $borderRadius;
    overflow: auto;
    // height: 100%;
    padding: 40px;

            p {
                margin-bottom: 50px;
            }
                ul {
                    display: contents;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        text-decoration: none;
                        margin-bottom: 20px;
        }  
    }
}

#schedule_settings::-webkit-scrollbar {
    width: 10px;
    background-color: $srollBar;
}
#schedule_settings::-webkit-scrollbar-thumb {
    background-color: $scrollBarThumb;
}


.addSchedule {
    width: 100%;
    height: 40px;
    border-radius: $borderRadius;
    outline: none;
    cursor: pointer;
    background: $colorButtonSchedule;
    border: 1px solid $inputBorderColor;
    transition: .3s;
    color: $fontColor;
    &:hover {
        background: $colorButtonSchHover;
    }
}

.closeSettings {
    top: 0;
    left: 25px;
    font-size: 36px;
    position: absolute;
    text-decoration: none;
    font-style: normal;
    color: $fontColor;
    cursor: pointer;
}



.selected {
    opacity: 0.6;
  }

  


//   .animate__animated.animate__fadeOutLeft, .animate__fadeOutUp {
//     --animate-duration: .4s;
//   }

//   .animate__animated.animate__fadeInRight, .animate__fadeOutDown {
//     --animate-duration: .4s;
//   }

//   .animate__animated.animate__fadeOutUpBig {
//     --animate-duration: .4s;
//   }